html {
  font-size: 62.5%;
  height: 100%;
  color: #cea135;
  background-image: linear-gradient(to right, #240986, #5f0091);
}

body {
  margin: 10px;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #aa00dd;
  color: #ffd900;
  font-weight: 600;
  width: 150px;
  height: 30px;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}

.v {
  display: flex;
  flex-direction: column;
}

.hz {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.actions {
  width: 450px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  button {
    border-radius: 1px;
    background-image: linear-gradient(to right, #6a00ab, #640c8d, #96478f);
  }
}

.right {
  display: flex;
  align-items: flex-end;
}

.danger-button {
  color: rgb(255, 84, 5);
  background-image: linear-gradient(45deg, #333333, #aaaaaa);
}

.link {
  color: skyblue;
}
