html {
  font-size: 62.5%;
  margin: 10px;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #aa00dd;
  color: #ffd900;
  font-weight: 600;
  width: 150px;
  height: 30px;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}

.v {
  display: flex;
  flex-direction: column;
}

.hz {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.actions {
  width: 40vw;
  flex-direction: column;
  height: 63px;
  flex-wrap: wrap;
  justify-content: flex-start;

  button {
    border-radius: 1px;
    background-image: linear-gradient(to right, #6a00ab, #640c8d, #96478f);
  }
}

.right {
  display: flex;
  align-items: flex-end;
}
