.create-game-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;

  .create-game {
    .label {
      font-weight: 600;
    }

    .game-name {
      font-size: 2rem;
      width: 150px;
    }
    .game-button {
      font-size: 1.5rem;
      width: 150px;
    }
  }
}
