.inner {
  margin-left: 10px;
}
.create-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .card-form-wrapper {
    width: 500px;
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    height: 95vh;
    overflow: scroll;

    .card {
      border: 1px solid #cea135;
      width: 500px;
    }
  }
}
