.login-page-wrapper {
  display: flex;
  margin: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-form {
    font-size: 20px;
    width: 200px;

    input {
      font-size: 20px;
    }

    .sign-up-link {
      margin-bottom: 3px;
      font-size: 15px;

      a {
        text-decoration: none;
        color: lightblue;
        transition: all 1s linear;
        border-bottom: 2px transparent blue;

        &:hover {
          color: blue;
          border-bottom: 2px solid blue;
        }
      }
    }
  }
}
