html {
  font-size: 62.5%; /* 1rem is 10px */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-weight: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

.app {
  margin-top: 2rem;
  display: grid;
  justify-items: center;
  width: 50%;
}

.hz {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.v {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 30px;
  font-weight: 900;
}

.item {
  font-style: italic;
}

.hidden {
  font-size: 0;
}

.cash {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
