@media screen and (max-width: 1060px) {
  .player {
    width: 500px;
  }

  .playercard {
    width: 500px;
  }
}

@media screen and (max-width: 700px) {
  .player {
    width: 100%;
  }

  .playercard {
    width: 100%;
  }

  .action {
    width: 100px;
  }
}
