.playercard {
  width: 700px;
}

.playercardhidden {
  display: flex;
  font-size: 0px;
}

.income-wrapper {
  .income-categories {
    width: 30%;

    .category {
      .item-wrapper {
        .item {
          border-bottom: 1px solid grey;
        }
      }

      .hidden {
        font-size: 0px;

        .item {
          border-bottom: 0px;
        }
      }
    }
  }
}

.asset-item {
  border-bottom: 1px solid grey;
}
